body {
    background-color: rgb(0, 0, 0);
    margin:0px;
    padding:0px;
    font-size: 16px;
}

.main-body{
    font-family: 'Cascadia Code', sans-serif;
    min-height: 100vh;
    margin:0px;
}

h1{
    color: white;
    font-size: 6vw;
    font-weight: 400;
    word-wrap: break-word
}

h2{
    font-size: 2.5vw;
    color: #4DDA56;
    font-weight: 400;
    word-wrap: break-word
}


.home{
    position:relative;
    height: 50vw;
    width:100%;
    background-image: url('Group.png');
    background-size: cover;
    background-position: center; 
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.side{
    margin:5%;
}
.side h1{
    margin-bottom: 0;
}

.nav{
    position:absolute;
    top:0%;
    left:70%;
    z-index:1;
}
.navicon{
    font-size:3vw;
    display: flex;
    margin-top:1%; 
    margin-left:0.5%;  
}
.navicon a:hover{
    color:white;
}

.facebooki {
    padding: 10px;
    color:#000000;
}
  
.instai {
    padding: 10px;
    color:#000000;
}
  
.githubi {
    padding: 10px;
    color:#000000;
}

.menulist {
    font-size: 1.5vw;
    color:white;
    position:relative;
    margin-top:5%;
    margin-left:6%
}
.menulist ul {
    list-style-type: none; 
  }
  
.menulist  li {
    font-weight: 200;
    list-style-type: none;
    list-style-image: url('bullet.png'); 
    padding-bottom: 20px; 
    padding-left: 5px;
  }

.menulist a {
    color: white; 
    text-decoration: none; 
    transition: color 0.4s; 
}

.menulist a:hover{
    color:#4DDA56;
}

.rectangle{
    position: absolute;
    background-color: #4DDA56;
    left: 68%;
    top: 0%;
    width: 32%;
    height: 100%;
    z-index: 0;
}

.mascot{
    max-height: 80%;
    max-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    bottom:-1%;
    left: 47.5%;
    z-index: 1;
}
.mascot img{
    height:44.5vw;
    width:44.5vw;
}
.dialogbox{
    position: absolute;
    bottom: 25%;
    left: 81%;
    z-index: 0;
}
.dialogbox img{
    height:8vw;
    width:18vw;
    min-height: 5vw;
    min-width: 13vw;

}
.textcolor{
    color: white; 
    font-size: 1.4vw; 
    word-wrap: break-word;
    position:absolute;
    bottom:12%;
    left:2%;

}

.textcolor span {
    color: #47C74F;
    font-size: 1.4vw;
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.about{
    position:relative;
    height: 57vw;
    width:100%;
    background-color: black;
    background-size: cover;
    background-position: center; 
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.circle {
    width: 67vw;
    height: 67vw;
    background-color: #4DDA56; 
    border-radius: 9999px;
    position:absolute;
    left:-14.7%;
    bottom:-32.5%;
}

.mascot2{
    max-height: 100%;
    max-width:100%;
    height: auto;
    width: auto;
    position: absolute;
    bottom:-1% ;
    left: -2.15%;
    z-index: 1;

}
.mascot2 img{
    height:42vw;
    width:41.5vw;
}

.location{
    position: absolute;
    background-color: #000000;
    left: 25%;
    bottom: 21.6%;
    height:3.72vw;
    width:18.4vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    display:flex;
    align-items: center;
    z-index: 1;
}

.icon{
    font-size: 2vw;
    margin:10%;
    color:white;
    z-index:2;
}

.location p{
    margin: 0; 
    color: white;
    font-size: 1.05vw;
}
.introtext{
    z-index:1;
}
.introtext h1{
    position:absolute;
    color:white;
    left:42%;
    top:18%;
    font-size: 6vw;
}
.introtext p{
    font-size: 1.5vw;
    color:white;
    font-family:Cascadia Code;
    font-weight:200;
    word-wrap:break-word;
}

.intro1{
    position:absolute;
    left:52%;
    top:38%;
}

.intro2{
    position:absolute;
    display:block;
    height:41%;
    width:30%;
    bottom:5%;
    left:59.7%;
    text-align: right;
}


.projects{
    position:relative;
    height: 870px;
    width:100%;
    background-color: black;
    background-size: cover;
    background-position: center; 
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}


.projects h2{
    color:white;
    font-size: 4vw;
    word-wrap: break-word;
    margin:0px;
}
.projects span{
    font-size: 5vw;
    margin:0px;
}
.projectbutton a{
    text-decoration: none;
    color:black;
}
.projectbutton:hover{
    color:white;
}
.textholder{
    display:flex;
    flex-direction:column;
    margin:5.6%;
}

button {
    font-family: 'Cascadia Code', sans-serif;
	display: block;
	width: 335px;
	height: 65px;
	background-color: #4DDA56;
	color: rgb(0, 0, 0);
	border: none;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	margin: 0;
    margin-top: 20px;
}

button:hover{
    background-color:white;
}

.siteimg{
    background-size: cover;
    width: 80%;
    padding-right: 5%;
}

.portfolio{
    width:100%;
    background-color: black;
    background-size: cover;
    background-position: center; 
    display:flex;
    flex-direction:column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 25px;
}

.portfolio h1{
    font-size: 5vw;
}
.blocks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 80px;
    margin-left: 10px;
    margin-right:10px;
}


.frame {
    border: 1px solid #4DDA56;
    border-bottom-width: 80px; 
    background-color: #000000; 
    width: 360px;
    height:333px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: last baseline;
    position: relative;
}

.frame p{
    color: rgb(0, 0, 0);
    margin: 0;
    position: relative;
    bottom: -102%;
    text-align: center;
}

footer{
    font-family: 'Cascadia Code', sans-serif;
    background-color:#4DDA56;
    text-align:center;
    padding: 8px;
    border-top: 3px solid #ffffff;
}


@media (max-width: 768px) {

    .projects{
        display:flex;
        height:fit-content;
        margin-bottom:10%;
        flex-direction:column;
    }

    .home{
        height:190vw;
        width:100%;
        align-items:flex-start
    }
    .rectangle{
        position: absolute;
        background-color: #4DDA56;
        left: 0%;
        top: 75%;
        width: 100%;
        height: 25%;
        z-index: 0;
    }

    .mascot{
        left: 30%;
        z-index: 1;
    }

    .mascot img {
        height: 80vw;
        width: 80vw;
    }

    .menulist {
        font-size: 4vw;
    }

    .side h1 {
        color: white;
        font-size: 14vw;
        font-weight: 400;
        margin-top: 25%;
        word-wrap: break-word;
    }
    
    .side h2 {
        font-size: 8vw;
        font-weight: 200;
        word-wrap: break-word;
    }
    .dialogbox{
        position: absolute;
        bottom: 5%;
        left: 7%;
        z-index: 0;
    }

    .dialogbox img{
        height:22vw;
        width:45vw;
        min-height: 5vw;
        min-width: 13vw;
        transform: scaleX(-1);
    
    }
    .textcolor{
        font-size: 4vw; 
        bottom:12%;
        left:4%;
    
    }
    
    .textcolor span {
        font-size: 4vw;
    }

    .nav{
        left:60%;
    }


    .navicon{
        font-size:7vw;
    }
    .navicon a:hover{
        color:#4DDA56;
    }
    
    .facebooki {

        color:#ffffff;
    }
      
    .instai {

        color:#ffffff;
    }
      
    .githubi {

        color:#ffffff;
    }

    .about{
    
        height:190vw;
        width:100%;
        align-items:flex-start

    }
    
    .circle {
        width: 110vw;
        height:110vw;
        background-color: #4DDA56; 
        border-radius: 9999px;
        position:absolute;
        left:-28%;
        bottom:-35.5%;
    }
    
    .mascot2{
        bottom:-1% ;
        left: -2.15%;    
    }
    .mascot2 img{
        height:85vw;
        width:85vw;
    }
    
    .location{
        left: 53%;
        bottom: 10%;
        height:8vw;
        width:42vw;
    }
    
    .icon{
        font-size: 4vw;
        margin:10%;
        color:white;
        z-index:2;
    }
    
    .location p{
        font-size: 3vw;
    }

    .introtext h1{
        left:10%;
        top:5%;
        font-size: 10vw;
    }
    .intro2 {
 
        height:41%;
        width:80%;
        top:25%;
        left:12%;
        text-align:left;
    }    

    .introtext p{
        font-size: 3.5vw;
    }
    
    .intro1{
        position:absolute;
        left:15%;
        top:15%;
        font-size:1vw;
    }

    .projects{
        height: 150vw;
        padding-top:15%;
    }
    
    
    .textholder{
        display:flex;
        flex-direction:column;
    }

    .projects h2 {
        font-size: 8vw;
    }

    .projects span {
        font-size: 10vw;
    }
    
    button {
        width: 45vw;
	    max-height: 14vw; 
        font-size: 14px;
        margin: 0;
        margin-top: 15px;
    }
    .siteimg{
        display:flex;
        flex-direction:column;
        padding:4%;
        margin:0;   
    }

    .frame {
        width: 90%;
        height: 220px;
    }
    .blocks{
        gap: 30px;
    }
}